.about {
  position: relative;
  padding-top: 70px;
  padding-bottom: 69px;

  background-image: url("../../images/about/about-bg-mobile.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    inset: 0;

    background-color: var(--color-white-e3);
  }

  @media (min-width: @md-width) {
    padding-top: 200px;
    padding-bottom: 97px;

    background-image: url("../../images/about/about-bg-tablet.webp");
  }

  @media (min-width: @xl-width) {
    padding-top: 180px;
    padding-bottom: 80px;

    background-image: url("../../images/about/about-bg-laptop.webp");
  }

  @media (min-width: @xxl-width) {
    padding-top: 189px;
    padding-bottom: 75px;

    background-image: url("../../images/about/about-bg-desktop.webp");
  }
}

.about__wrapper {
  position: relative;

  @media (min-width: @xl-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
  }
}

.about__title {
  margin-bottom: 27px;

  @media (min-width: @md-width) {
    margin-bottom: 53px;

    text-wrap: balance;
  }

  @media (min-width: @xl-width) {
    grid-column: 1 / -1;

    margin-bottom: 63px;
  }

  @media (min-width: @xxl-width) {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 87px;
  }
}

.about__image {
  position: relative;

  width: 100%;
  max-width: var(--mobile-width);
  margin: 0 auto;
  margin-bottom: 28px;

  aspect-ratio: 335 / 539;

  @media (min-width: @md-width) {
    max-width: var(--tablet-width);
    margin-bottom: 54px;

    aspect-ratio: 708 / 539;
  }

  @media (min-width: @xl-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    max-width: unset;
    margin: 0;
    padding-right: 10px;

    aspect-ratio: 350 / 539;
  }

  @media (min-width: @xxl-width) {
    padding-right: 29px;

    aspect-ratio: 436 / 539;
  }
}

.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__text {
  position: absolute;
  left: 31px;
  bottom: 26px;

  font-size: 18px;
  line-height: 150%;
  color: var(--color-font-light);
}

.about__cards {
  overflow: visible;

  @media (min-width: @xl-width) {
    grid-column: 2 / -1;
    grid-row: 2 / 3;

    align-self: center;
  }
}

.about__list {
  margin-bottom: 28px;

  @media (min-width: @md-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px 27px;

    margin-bottom: 0;
  }

  @media (min-width: @xl-width) {
    gap: 42px 20px;
  }

  @media (min-width: @xxl-width) {
    gap: 47px 20px;
  }
}

.about__item {
  position: relative;

  height: auto;
  padding: 35px 19px 30px 53px;

  font-size: 18px;
  line-height: 150%;

  background-color: var(--color-white);
  box-shadow: 0 0 74px 0 #27110a40;

  &::after {
    position: absolute;
    content: "";
    top: 42px;
    left: 21px;

    width: 21px;
    height: 23px;
    background-image: url("../../images/icons/union.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: @md-width) {
    padding: 0;
    padding-left: 33px;

    background-color: unset;
    box-shadow: none;

    &::after {
      top: 7px;
      left: 0;
    }
  }
}

.about__navigation {
  display: flex;
  justify-content: center;
  gap: 46px;

  @media (min-width: @md-width) {
    display: none;
  }
}
