.app-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  min-height: 46px;

  color: var(--color-font-extra-dark);
  background: linear-gradient(180deg, #ffdc83 0%, #fbd26a 25%, #c17024 84.9%, #e3a548 100%);

  box-shadow: 0 0 48px 0 #f0c05c8a;

  .focus-default();
}
