.calculation {

  @media (min-width: @md-width) {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 340px;
    min-height: 452px;
    padding: 55px 12px 45px;

    color: var(--color-font-extra-dark);
    background-color: #ffffffb5;
  }

  @media (min-width: @xxl-width) {
    width: 372px;
    min-height: 486px;
    padding: 67px 12px 50px;
  }
}

.calculation__title {
  display: none;

  @media (min-width: @md-width) {
    display: block;
    font-size: 32px;
    text-align: center;
  }
}

.calculation__description {
  display: none;

  @media (min-width: @md-width) {
    flex-grow: 1;

    display: block;
    margin-top: 12px;

    font-size: 18px;
    line-height: 117%;
    text-align: center;

    background-image: url("../../images/calculation/calculation.webp");
    background-size: 268px 172px;
    background-repeat: no-repeat;
    background-position: center bottom 2px;
  }

  @media (min-width: @md-width) {
    background-position: center bottom 20px;
  }
}

.calculation__btn {
  margin: 0 auto;

  @media (min-width: @md-width) {

  }
}
