.gallery {
  position: relative;

  padding-top: 70px;
  padding-bottom: 70px;

  overflow: hidden;

  @media (min-width: @md-width) {
    padding-top: 100px;
    padding-bottom: 0;
  }

  @media (min-width: @xl-width) {
    padding-top: 162px;
  }

  @media (min-width: @xxl-width) {
    padding-top: 167px;
  }
}

.gallery__title {
  margin-bottom: 37px;

  text-wrap: balance;

  @media (min-width: @md-width) {
    margin-bottom: 53px;
  }

  @media (min-width: @xl-width) {
    margin-bottom: 81px;
  }

  @media (min-width: @xxl-width) {
    margin-bottom: 89px;

    text-wrap: balance;
  }
}

.gallery__cards {
  overflow: visible;
}

.gallery__list {
  margin-bottom: 25px;

  @media (min-width: @md-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;

    margin-bottom: 0;
  }
}

.gallery__item {
  width: 100%;
  max-width: var(--mobile-width);
  margin: 0 auto;

  overflow: hidden;

  @media (min-width: @md-width) {
    max-width: unset;
  }
}

.gallery__img {
  display: block;
  width: 100%;
  aspect-ratio: 375 / 352;

  @media (min-width: @md-width) {
    aspect-ratio: 256 / 240;
  }

  @media (min-width: @xl-width) {
    aspect-ratio: 454 / 426;
  }

  @media (min-width: @xxl-width) {
    aspect-ratio: 639 / 426;
  }
}

.gallery__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: scale(1);
  transition: transform .5s;
}

.gallery__img:hover img,
.gallery__img:focus-visible img,
.gallery__item--visible .gallery__img img {
  transform: scale(1.1);
}

.gallery__navigation {
  display: flex;
  justify-content: center;
  gap: 46px;

  @media (min-width: @md-width) {
    display: none;
  }
}
