.navigation-btn {
  position: relative;
  width: 29px;
  height: 24px;

  &::after {
    position: absolute;
    content: "";
    inset: 0;

    background-image: url("../../images/icons/arrow.svg");
    background-repeat: no-repeat;
    background-size: 29px 24px;
    background-position: center;
  }

  &--next::after {
    transform: rotate(180deg);
  }
}
