.navigation-btn {
  width: 57px;
  height: 51px;

  background-image: url("../../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 57px 51px;
  background-position: center;

  &--next {
    transform: rotate(180deg);
  }
}
