.site-menu {
  position: relative;

  width: 360px;
  min-height: 100%;
  padding: 35px 0 76px;

  color: var(--color-font-extra-dark);
  background-color: #ffffffde;
  backdrop-filter: blur(16px);

  @media (min-width: @md-width) {
    width: 503px;
    padding: 35px 0 76px;
  }

  @media (min-width: @xl-width) {
    padding: 35px 0 95px;
  }
}

.site-menu__wrapper {
  display: flex;
  flex-direction: column;

  padding-right: 39px;
  padding-left: 34px;

  @media (min-width: @md-width) {
    padding: 35px 33px 76px 88px;

    padding-right: 33px;
    padding-left: 88px;
  }
}

.site-menu__close-btn {
  .cross-icon(28px, 3px);

  position: absolute;

  width: 32px;
  height: 32px;

  .focus-default();

  left: 6px;
  top: 22px;

  @media (min-width: @md-width) {
    .cross-icon(42px, 3px);

    left: 10px;
    top: 28px;

    width: 48px;
    height: 48px;
  }

  @media (min-width: @xl-width) {
    left: 28px;
  }
}

.site-menu__logo {
  align-self: end;

  width: 173px;
  height: 45px;
  margin-bottom: 18px;

  @media (min-width: @md-width) {
    margin-bottom: 68px;
  }

  @media (min-width: @xxl-width) {
    margin-bottom: 115px;
  }
}

.site-menu__connection {
  align-self: end;

  margin-bottom: 39px;

  @media (min-width: @md-width) {
    display: none;
  }
}

.site-menu__phone {
  margin-bottom: 7px;

  font-size: 18px;
  line-height: 117%;
  font-weight: 700;
}
