.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  @media (min-width: @md-width) {
    row-gap: 21px;
  }

  @media (min-width: @xxl-width) {
    gap: 48px 38px;
  }
}

.social-list__item {
  // flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 15px;

  &:last-of-type {
    @media (min-width: @xxl-width) {
      order: -1;
      flex-grow: 1;
    }
  }

  @media (min-width: @xl-width) {
    gap: 25px;
  }
}

.social-list__link {
  position: relative;
  flex-shrink: 0;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  .focus-default();

  &::before {
    position: absolute;
    inset: 0;
    content: "";

    background-repeat: no-repeat;
    background-position: center;
  }

  &--facebook {
    background-color: #3b5998;

    &::before {
      background-image: url("../images/icons/facebook.svg");
      background-size: 13px 27px;
    }
  }

  &--instagram {
    background: linear-gradient(43.94deg, #eea054 16.16%, #d64763 50.11%, #b62a99 83.68%);

    &::before {
      background-image: url("../images/icons/instagram.svg");
      background-size: 17px 17px;
    }
  }

  &--youtube {
    &::before {
      background-image: url("../images/icons/youtube.svg");
      background-size: 40px 40px;
    }
  }
}

.social-list__link-text {
  font-size: 16px;
  line-height: 117%;
  font-weight: 700;

  @media (min-width: @md-width) {
    font-size: 18px;
  }

  @media (min-width: @xxl-width) {
    width: max-content;
  }
}
