.wrapper-width {
  width: 100%;

  @media (min-width: @xl-width) {
    max-width: @max-width;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: @md-width) {
}

@media (min-width: @xl-width) {
}

@media (min-width: @xxl-width) {
}

.wrapper-padding {
  padding-right: var(--sm-padding);
  padding-left: var(--sm-padding);

  @media (min-width: @md-width) {
    padding-right: var(--md-padding);
    padding-left: var(--md-padding);
  }

  @media (min-width: @xl-width) {
    padding-right: var(--xl-padding);
    padding-left: var(--xl-padding);
  }

  @media (min-width: @xxl-width) {
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--xxl-padding);
    padding-left: var(--xxl-padding);
  }
}

.wrapper {
  .wrapper-width();
  .wrapper-padding();
}

.burger-icon(@width, @height) {
  &::before{
    position: absolute;
    right: 0;
    transform: translateY(-50%);

    width: @width;
    height: 2px;
    margin: auto 0;

    background-color: var(--color-font-light);
    box-shadow: 0 calc((-@height) / 2 + 1px) var(--color-font-light), 0 calc(@height / 2 - 1px) var(--color-font-light);

    content: "";
  }
}

.cross-icon(@size, @thickness) {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: calc((100% - @size) / 2);
    left: calc((100% - @thickness) / 2);

    width: @thickness;
    height: @size;
    margin: 0 auto;

    background-color: currentColor;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
