@min-width: 375px;
@max-width: 1920px;

@sm-width: 576px;
@md-width: 768px;
@lg-width: 992px;
@xl-width: 1280px;
@xxl-width: 1800px;

:root {
  --font-page: "Roboto", sans-serif;

  --min-width: @min-width;
  --max-width: @max-width;

  --sm-width: @sm-width;
  --md-width: @md-width;
  --lg-width: @lg-width;
  --xl-width: @xl-width;
  --xxl-width: @xxl-width;

  --sm-padding: 20px;
  --md-padding: 30px;
  --xl-padding: 153px;
  --xxl-padding: 300px;

  --mobile-width: 430px;
  --tablet-width: 720px;

  --color-white: #ffffff;
  --color-white-050: #ffffff80;
  --color-white-e3: #ffffffe3;
  --color-white-99: #ffffff99;
  --color-white-b5: #ffffffb5;
  --color-black: #000000;
  --color-black-01: #1E0801;
  --color-black-02: #120501;
  --color-black-03: #1d1a14;
  --color-grey: #f4f4f4;
  --color-gold: #dda046;

  --color-font-light: var(--color-white);
  --color-font-extra-light: var(--color-white-050);
  --color-font-dark: var(--color-black-01);
  --color-font-extra-dark: var(--color-black);

  --color-back-light: var(--color-grey);
  --color-back-extra-dark: var(--color-black);
  --color-back-dark-01: var(--color-black-01);
  --color-back-dark-02: var(--color-black-02);
  --color-back-dark-03: var(--color-black-03);

  --color-accent: var(--color-gold);
}

